/*---------------------------------*/
/*Fonts*/
/*---------------------------------*/

/*Merriweather*/

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-bold-webfont.eot');
    src: url('../fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff'),
         url('../fonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-bolditalic-webfont.eot');
    src: url('../fonts/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bolditalic-webfont.woff') format('woff'),
         url('../fonts/merriweather-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-italic-webfont.eot');
    src: url('../fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-italic-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-italic-webfont.woff') format('woff'),
         url('../fonts/merriweather-italic-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/merriweather-regular-webfont.eot');
    src: url('../fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff'),
         url('../fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('../fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Open Sans*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-extrabolditalic-webfont.eot');
    src: url('../fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*===================================================*/
/* Mobile first CSS */
/*===================================================*/

/*Structure*/

html, body {
    background-color: #f3f3f3;
	color: #292929;
	font-size: 18px;
	font-family: 'Merriweather', arial, verdana;
    line-height: 1.5;
    position: absolute;
    width: 100%;
}


.clearfix {
    overflow: hidden;
}


/*Typography*/

h1, h2, h3 {
    font-family: 'Open Sans', arial, verdana;
}


h1 {
        font-size: 2rem;
}


h2 {
    font-weight: bold;
    font-size: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}


a {
    text-decoration: none;
    color: #292929;
}


a:link, a:visited {
    color: inherit;
}


label {
    color: #e7e3c5;
    font-family: 'Open Sans', arial, verdana;
    font-weight: bold;
    text-transform: uppercase;
}


/* Header */

header {
	background-image: url('../images/rustic-masthead.jpg');
    background-size: cover;
	color: white;
}


nav {
	text-align: center;
    margin-bottom: 10%;
    padding-top: 1%
} 


.nav-list p {
	display: inline;
	font-size: .5rem;
	font-family: 'Open Sans', arial, verdana;
    font-weight: bold;
    text-transform: uppercase;
	margin: auto;
	width: 100%;
    padding: 0 4%;
}


.restaurant-title {
	text-align: center;
    margin-bottom: 5%;
}


.restaurant-title img {
	margin: auto;
	width: 80%;
}


.jingle {
	text-align: center;
	font-size: .8rem;
	line-height: 1.5;
    margin-bottom: 5%;
}


button {
	color: white;
	font-weight: bold;
	background-color: #f89603;
	border: none;
	display: block;
	margin: 0 auto;
    margin-bottom: 10%;
    font-size: .8rem;
    width: 10rem;
    height: 1.8rem;
    padding: 1%;
    box-shadow: 3px 3px 5px 0 rgba(0 ,0 ,0 , 0.75);
    text-transform: uppercase;
    text-align: center;
}


.date {
	background-color: rgba(72, 49, 24,.9);
    padding: 5% 0;
    line-height: 1.5;
    font-family: 'open_sansregular', arial, verdana;
}


span {
  display:block;
  color:white;
  text-align: center;
}


span#day {
  font-size: .7rem;
}


span#open{
  text-transform: uppercase;
  font-size: 1rem;
}


/*Local Flavours / Food & Drink*/

.local, .food {
	text-align: center;
    padding: 15% 0;
    line-height: 1.5rem;
}


.local-title, .food-title {
    padding-bottom: 5%;
}


.local-desc {
    font-size: .7rem;
    padding: 0 10%;
}


.bx-wrapper img, .bx-wrapper li {
    width: 100vw;
}


.forks, .knives, .glasses {
	text-align: center;	
    display: block;
    margin-bottom: 5%;
}


.forks-title, .knives-title, .glasses-title {
    padding: 5% 0 3% 0;
}


.forks-desc, .knives-desc, .glasses-desc {
    font-size: .8rem;
}


/* Book a Table*/

.book {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5)), 
    url('../images/tables.jpg');
	background-size: cover;
	color: white;
    padding: 7% 0;
}


.book-title h2 {
    font-family: 'open_sansextrabold', arial, verdana;
    text-align: center;
}


.book-desc {
    font-size: .6rem;
    padding: 0 15% 5% 15%;
    line-height: 1.1rem;
    text-align: center;   
}


.form {
    line-height: 1.1rem;
    padding-left: 10%;
}


.form-list, .form-list2 {
	font-family: 'open_sansextrabold', arial, verdana;
}


.form-list label, .form-list2 label {
    color: #e7e3c5;
    font-size: 1rem;
}


.form-list span, .form-list2 span {
    text-align: left;
}


.form-list input, .form-list2 input {
    display: block;
    width: 90%;
    height: 1.5rem;
    border: 1px solid #f89603;
    margin: 3px 0 0 0;
}


.book-now {
    text-align: center;
}


.book-now input {
    background-color: #f89603;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    width: 8rem;
    height: 1.8rem;
    box-shadow: 3px 3px 5px 0 rgba(0 ,0 ,0 , 0.75);
}


/* Find Us */

.find {
    text-align: center;
    padding: 10% 5%;
}


.find i {
    color: #e7e3c5;
}


.addy, .phone, .email {
    margin-bottom: 5%;
}


.addy-desc, .phone-desc, .email-desc {
    padding: 5% 0;
    font-size: .8rem;
}


/* Footer */

footer {
    background-color: #483118;
    color: white;
    font-family: 'open_sansregular', arial, verdana;
}


.restaurant-title-bottom img {
    margin: 0 auto;
    float: left;
    width: 30%;
    padding: 10% 5%;
}


.follow {
    float: right;
    width: 50%;
    text-align: right;
    padding: 5%;
}


.follow-title {
    font-size: .8rem;
}


.follow-list {
    padding: 5% 0% 5% 5%;
}


.follow-list i {
    font-size: 1.2rem;
    padding-left: .5rem;
}


.copyright {
    font-size: .6rem;
}


/*===================================================*/
/* Media Queries */
/*===================================================*/
/*-----------------------------------------*/
/* Tablet */
/*-----------------------------------------*/

@media (min-width: 768px) {

	/*Header*/

    nav {
        text-align: right;
        margin-bottom: 10%;
    } 


    .nav-list p {
        font-size: .9rem;
        margin: auto;
        width: 100%;
        padding: 0 2%;
        text-shadow: 2px 2px 10px black;
    }


    .restaurant-title img {
        width: 70%;
    }

    .jingle {
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: 5%;
    }


    button {
        font-size: .8rem;
        width: 150px;
        height: 35px;
    }


    .date {
        padding: 2% 0;
    }


    span#day {
        font-size: .8rem;
    }


    span#open {
        font-size: 1.2rem;
    }


    /*Local Flavours / Food & Drink*/

    .local, .food {
        padding: 5% 0;
    }


    .local-title, .food-title {
        padding-bottom: 2.5%;
    }


    .local-desc {
        font-size: .7rem;
        line-height: 1rem;
    }


    .forks, .knives, .glasses {
        float: left;
        width: 33%;
        display: block;
        margin-bottom: 0;
    }


    .glasses {
        float: right;
        width: 33%;
        display: block;
    }   


    .forks-title, .knives-title, .glasses-title {
        padding: 5% 0 3% 0;
        font-size: 1rem;
    }


    .forks-desc, .knives-desc, .glasses-desc {
    font-size: .7rem;
    line-height: 1.5rem;
    }

    
    /*Book A Table*/

    .book {
    background-image: url('../images/tables.jpg');
    background-size: cover;
    padding: 5% 0;
    }


    .book-in {
    background-image:  linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0.5));
    background-size: cover;
    margin: 0% 5%;
    padding: 3% 0;
    }


    .book-title h2 {
        font-size: 2rem;
        margin-bottom: 1%;
    }


    .book-desc {
        font-size: .65rem;
    }


    .form {
        padding: 0 0 0 3%;
    }


    .form-list label, .form-list2 label {
        font-size: .7rem;
    }


    .form-list span, .form-list2 span {
        text-align: left;
        float: left;
        width: 33%;
    }


    .form-list input, .form-list2 input {
        width: 80%;
        height: 25px;
    }


    .book-now input {
        background-color: #f89603;
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: bold;
        width: 8rem;
        height: 2rem;
        box-shadow: 1px 2px 5px black;
        margin-top: 3%;
    }


    .bx-wrapper img, .bx-wrapper li {
        max-width: 100%;
        width: 50vw !important;
        display: block;
    }


    /*Find Us*/

    .find {
        padding: 2.5% 5%;
    }


    .find-title h2 {
        margin-bottom: 3%;
    }


    .addy, .phone, .email {
        float: left;
        width: 33%;
        margin-bottom: 0;
    }


    .addy-desc, .phone-desc, .email-desc {
        font-size: .9rem;
    }


    /*Footer*/

    .restaurant-title-bottom img {
        margin: 0 auto;
        width: 15%;
        padding: 5%;
    }


    .follow {
        width: 50%;
        text-align: right;
        padding: 2.5%;
    }


    .follow-title {
        font-size: .7rem;
    }


    .follow-list {
        padding: 1%;
    }
    
    .follow-list i {
        padding: 0 0 0 3%;
        font-size: 2rem;
    }


    .copyright {
        font-size: .8rem;
    }


/*===================================================*/
/* Media Queries */
/*===================================================*/
/*-----------------------------------------*/
/* Desktop */
/*-----------------------------------------*/

@media (min-width: 1280px) {

    h1 {
        font-size: 2.5rem;
    }
    

    nav {
        text-align: right;
        margin-bottom: 10%;
    } 


    .nav-list p {
        font-size: .9rem;
        margin: auto;
        width: 100%;
        padding: 0 2%;
        text-shadow: 2px 2px 10px black;
    }


    .restaurant-title img {
        width: 40%;
    }


    .jingle {
        font-size: 1.3rem;
        line-height: 1.7;
        margin-bottom: 5%;
    }


    button {
        font-size: 1rem;
        width: 200px;
        height: 50px;
    }


    span#day {
      font-size: 1rem;
    }


    span#open {
      font-size: 1.5rem;
    }


    .local {
        padding: 5% 10%;
        line-height: 1.3rem;
    }


    .local-desc {
        font-size: 1rem;
    }


    .bx-wrapper img, .bx-wrapper li {
        width: 33vw !important;
    }


    .food {
        margin: 0 2%;
        padding: 5% 0;
    }

    .forks {
        float: left;
        width: 33%;
        display: block;
    }


    .knives {
        float: left;
        width: 33%;
        display: block;
    }    


    .glasses {
        float: right;
        width: 33%;
        display: block;
    }    


    .forks-title, .knives-title, .glasses-title {
        padding: 5% 0 5% 0;
        font-size: 1.5rem;
    }


    .forks-desc, .knives-desc, .glasses-desc {
        font-size: 1rem;
        line-height: 1.5rem;
    }


    .book-in {
        margin: 0% 3%;
        padding: 3% 0;
    }


    .book-title {
        font-size: 2.5rem;
    }


    .book-desc {
        font-size: 1rem;
        margin: 0 5%;
    }


    .form {
        padding: 0 0 0 3%;
    }


    .form-list label, .form-list2 label {
        font-size: 1rem;
    }


    .form-list span, .form-list2 span {
        text-align: left;
        float: left;
        width: 33%;
    }


    .form-list input, .form-list2 input {
        width: 80%;
        height: 40px;
    }


    .book-now input {
        background-color: #f89603;
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        width: 160px;
        height: 45px;
        box-shadow: 1px 2px 5px black;
    }


    .find {
        margin-bottom: 10%;
    }


    .addy, .phone, .email {
        font-size: 1.5rem;
    }


    .addy-desc, .phone-desc, .email-desc {
        font-size: 1rem;
        padding-top: 8%; 
    }


    .restaurant-title-bottom img {
        margin: 0 auto;
        float: left;
        width: 15%;
        padding: 3% 5%;
    }


    .follow {
        width: 50%;
        text-align: right;
        padding: 3% 5%;
    }


    .follow-title {
        font-size: 1rem;
    }


    .follow-list {
        padding: 2% 0;
    }


    .follow-list i {
        padding: 0 0 0 3%;
        font-size: 4vw;
    }


    .copyright {
        font-size: .9rem;
    }
}
